<md-dialog aria-label="{{field_name}} ({{type}})" ng-cloak>
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>
          {{meta.field_name}} ({{meta.type}})
        </h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="hide()">
          close
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content">
        <table>
          <tr ng-repeat="count in meta.values.counts">
            <th align="left">{{count[0]}}</th>
            <td align="right">{{count[1]}}</td>
          </tr>
          <tr ng-show="meta.values.min">
            <th align="left">Minimum</th>
            <td align="right">{{meta.values.min}}</td>
          </tr>
          <tr ng-show="meta.values.avg">
            <th align="left">Average</th>
            <td align="right">{{meta.values.avg}}</td>
          </tr>
          <tr ng-show="meta.values.max">
            <th align="left">Maximum</th>
            <td align="right">{{meta.values.max}}</td>
          </tr>
          </tr>
        </table>
      </div>
    </md-dialog-content>
  </form>
</md-dialog>