<!-- Toolbar top -->
<md-toolbar layout="row">
  <div class="md-toolbar-tools">
    <h1>EPA | <strong>NLA Data Explorer</strong></h1>
    <span flex></span>
    <md-button class="md-primary md-button" aria-label="About" ng-click="showAbout()">
      About
    </md-button>
    <md-button class="md-primary md-button" aria-label="About" ng-click="showDevelopers()">
      For Developers
    </md-button>
  </div>
</md-toolbar>

<div layout-gt-sm="row" layout="column">

    <!-- Left column -->
    <div flex="33" class="sidebar padded-content">

        <!-- Search -->
        <div><ng-include src="'Home/searchForm.html'"></div>

        <!-- Placeholder -->
        <md-whiteframe ng-show="!lake" class="md-whiteframe-3dp" layout layout-align="center center" layout-margin style="margin-top:20px; background:#fff; color: #333">
          <div class="padded-content">
          <h1>
            <i class="mdi mdi-arrow-up-bold-circle"></i> Get Started
          </h1>
          <p>Search for a lake by name to see its assessment data.</p>
          </div>
        </md-whiteframe>
        

        <div ng-show="lake">
          <h2 flex class="md-title">{{lake.lakename}}</h2>
          <p>
            {{lake.cntyname | titleCase}} County, {{lake.st}}<br>
            Site ID: {{lake.site_id}}
          </p>
          <!-- Map -->
          <div flex google-map zoom="12" lat="lake.lat_dd" lng="lake.lon_dd" 
            center-pin="true" style="height:20em;"
            ng-show="lake.lat_dd && lake.lon_dd">
          </div>
        </div>     

    </div>

    <!-- Right column -->
    <div flex="66" class="padded-content">
        <!-- File dropdown -->
        <div>
            <md-input-container>
            <label>Data File</label>
            <md-select ng-model="selectedFile" ng-change="selectFile(selectedFile)">
                <md-option ng-repeat="file in files" value="{{file}}">
                {{file}}
                </md-option>
            </md-select>
            </md-input-container>
        </div>


        <!-- Placeholder -->
        <md-whiteframe ng-show="!lake" class="md-whiteframe-3dp" layout layout-align="center center" layout-margin style="background:#fff; color: #333">
          <div class="padded-content">
            <h3>
              <i class="mdi mdi-arrow-up-bold-circle"></i> 
              Explore the Data
            </h3>
            <p>Once you've selected a lake, select a data file to view.
              <br> Click on values to gain additional context.</p>
            <img src="lakeshore.png" class="md-card-image" alt="A Lake Shore" style="width: 100%;" />
            <div  layout="row" layout-padding layout-align="start center">
              <div flex="none">
                <img src="stsi_logo_200.png" class="logo" alt="STSI Logo" width="150" height="49"> 
              </div>
              <div flex class="muted">
                This prototpye application was created by <a href="http://stsiinc.com" target="_blank">STSI</a> in response to a Request for Information put out by the US Environmental Protection Agency.
              </div>
            </div>
          </div>
        </md-whiteframe>

        <!-- Table of values -->
        <md-data-table-container flex="66">
          <table md-data-table md-progress="deferred" ng-show="lake">
            <thead md-order="table.order" md-trigger="onOrderChange">
              <tr>
                <th name="Field"></th>
                <th name="Value"></th>
              </tr>
            </thead>
            <tbody>
              <tr md-auto-select ng-repeat="field in tableData"  ng-click="selectField(field.name,$event)">
                <td><em>{{field.name}}</em></td>
                <td>{{field.value}}</td>
              </tr>
            </tbody>
          </table>
        </md-data-table-container>
    </div>

</div> <!-- /layout columns -->
