.muted {
  color:#999;
}

div.sidebar {
  background: #eef;
  color: #336;
}

md-select {
  font-weight:bold;
}

@media (min-width: 600px) {
	.padded-content {
	  padding: 10px;
	}
}

@media (max-width: 599px) {
	 md-autocomplete input:not(.md-input) {
		font-size:16px;
	}
}

md-card > img.logo, md-card > :not(md-card-content) img.logo {
  width: 200px !important;
}